@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Geoff Pfander</h3>

<address>
    3516 South Webster St<br />
    Seattle, WA 98118<br />
    <abbr title="Phone">P:</abbr>
    206-650-9933
</address>

<address>
    <strong>Email:</strong> <a href="mailto:geoff.pfander@gmail.com">geoff.pfander@gmail.com.com</a><br />
</address>
