@{
    ViewData["Title"] = "Home";
}
<h3>@ViewData["Message"]</h3>

<body>

    @model GeoffsDocusignDemo.Models.IndexModel
    <br><br>
    @using (Html.BeginForm("ProcessForm", "Home", FormMethod.Post))
    {
        @Html.EditorForModel()
        <br>
        <input type="submit" name="Signon" value="Sign On" />
        <input type="submit" name="Choose" value="Send Documents" />
        <input type="submit" name="Sign" value="Sign Documents" />
    }

 </body>