
@{
    ViewData["Title"] = "Sign Documents";
}
<h3>@ViewData["Message"]</h3>

<p><font size="6">Sign Documents</font></p>

<br><br>

<h2>@Html.ActionLink("Go To DocuSign Page to Sign Documents", "DocuSign", new { controller = "Home" }, new { target = "_blank" })</h2>